.App {
  font-family: 'Exo 2', sans-serif;
  text-align: center;
}

/* content */
  .Logo {
    position: absolute;
    margin: 20px 20px;
    color: #9fc131;
    font-weight: bold;
    animation-name: slide-in-logo;
    animation-duration: 2s;
  }

  @keyframes slide-in-logo {
    from {left: -100px;}
    to {left: 0px;}
  }

  .span1 {
    color: #042940;
  }

  .MenuIcon {
    float: right;
    margin: 20px 20px;
    font-size: 20px;
    color: #042940;
    display: none;
  }

  @media only screen and (max-width:800px) {
    .MenuIcon {
      display: initial;
      margin: 20px 25px;
    }
  }

  .NavLinks {
    display: flex;
  }

  @media only screen and (max-width:800px) {
    .NavLinks {
      display: block;
    }
  }

  .Navigation {
    position: absolute;
    flex-direction: row;
    margin: 20px 20px;
    right: 10px;
  }

  @media (max-width:800px) {
    .Navigation {
      flex-direction: column;
    }
  }

  @media only screen and (max-width:600px) {
    .Navigation {
      background-color:#042940;
      top: 50px;
      height: 500px;
      width: 300px;
      border-radius: 5px;
      position: fixed;
      display: none;
    }
  }

  .Navigation a {
    margin: 5px 5px;
    text-decoration-line: none;
    font-weight: bold;
    color: #042940;
  }

  @media only screen and (max-width:800px) {
    .Navigation a{
      color: #9fc131;
    }
  }

  .Navigation a:hover {
    color: #005C53;
  }

  .HomeContent1 {
    padding-top: 300px;
    animation-name: fade;
    animation-duration: 3s;
  }

  @keyframes fade {
    from {opacity: 0%;}
    to {opacity: 100%;}
  }

  .Pulse {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    font-size: 100px;
    color: #9fc131;
    animation-name: fall;
    animation-duration:  1s ;
    animation-iteration-count: infinite;
    animation-delay: 2.9s;
  }

  @keyframes fall {
    from {
      font-size: 100px;
      
    }
    to {
      font-size: 90px;
    }
  }

  .Header1 {
    font-size: 30px;
    color: #9fc131;
    font-weight: bold;
  }

  @media only screen and (max-width:800px) {
    .Header1 {
      font-size: 20px;
    }

    .Text1 {
      font-size: 12px;
    }
  }

  .Text1 {
    color: #042940;
    font-weight: bold;
  }

  .Text2 {
    margin: 20px 20px;
    color: #9fc131;
  }

  @media only screen and (max-width:800px) {
    .Text2 {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 20px;
    }
  }

  .span2 {
    font-weight: bold;
  }

  .Join {
    height: 30px;
    width: 100px;
    margin: 20px 20px;
    border-radius: 20px;
    border-style: none;
    color: white;
    background-color: #042940;
  }

  @media only screen and (max-width:800px) {
    .Join {
      margin: 50px 50px;
    }
  }

  .Continue {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Continue p {
    font-size: 20px;
    font-weight: bold;
    color: #042940;
  }

  .Continue i {
    color: #9fc131;
    font-size: 30px;
  }
/* content */

/* content */
  .MainContent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 20px 20px;
    animation-name: slide1;
    animation-duration: 4s;
  }

  @keyframes slide1 {
    from {left: -1500px; }
    to {left: 0px;}
  }

  @media(max-width:800px) {
    .MainContent {
      flex-direction: column;
    }
  }

  .content1 {
    color: #042940;
    margin: 10px 50px;
    font-weight: bold;
  }

  .content1 i{
    font-size: 70px;
    color: #9fc131;
  }

  .content2 {
    color: #042940;
    margin: 10px 50px;
    font-weight: bold;

  }

  .content2 i{
    font-size: 70px;
    color: #9fc131;
  }

  .content3 {
    color: #042940;
    margin: 10px 50px;
    font-weight: bold;
  }

  .content3 i{
    font-size: 70px;
    color: #9fc131;
  }
/* content */

/* content */

  .InfoContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 700px;
    width: 100%;
    text-align: left;
    background-color: #042940;
  } 

  @media (max-width:800px) {
    .InfoContent {
      flex-direction: column;
    }
  }

  .InfoContentText {
    margin: 70px 100px 70px 70px;
  }

  @media only screen and (max-width:800px) {
    .InfoContentText {
      margin: 70px 70px 70px 70px;
    }
  }

  .Header2 {
    color: #9fc131;
    font-weight: bold;
    font-size: 30px;
  }

  .Line {
    margin-top: 20px;
    height: 3px;
    width: 245px;
    background-color: white;
  }

  .InfoContent p {
    color: white;
    width: 700px;
  }

  @media only screen and (max-width:800px) {
    .InfoContent p {
      width: 100%;
    }
  }

  .ImageBox {
    height: 400px;
    width: 400px;
    border-radius: 20px;
    background-color: white;
  }

  @media only screen and (max-width:800px) {
    .ImageBox {
      height: 300px;
      width: 300px;
      margin-bottom: 20px;
    }
  }

/* content */

/* content */
  .ExtraContent {
    margin: 50px 50px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

  }

  @media (max-width:800px) {
    .ExtraContent {
      flex-direction: column;
    }
  }

  

  .Icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 200px 50px 50px;
  }

  @media only screen and (max-width:800px) {
    .Icons {
      margin: 50px 50px 50px 50px;
    }
  }

  .D1 i{
    rotate: -45deg;
  }

  @media only screen and (max-width:800px) {
    .D1 i{
      font-size: 50px;
    }

    .D1 {
        position: absolute;
        margin-top: 100px;
    }
  }

  .D1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #042940;
    height: 150px;
    width: 150px;
    rotate: 45deg;
    margin-right: 100px;
  }

  .D2 i{
    rotate: -45deg;
  }

  @media only screen and (max-width:800px) {
    .D2 i{
      font-size: 50px;
    }

    .D2 {
        position: absolute;
        margin-top: 200px;
        margin-left: 100px;
    }
  }

  .D2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #042940;
    height: 150px;
    width: 150px;
    rotate: 45deg;
  }

  .D3 i{
    rotate: -45deg;
  }

  @media only screen and (max-width:800px) {
    .D3 i{
      font-size: 50px;
    }

    .D3 {
        position: absolute;
        margin-top: 750px;
        margin-left: -100px;
    }
  }

  .D3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #042940;
    height: 150px;
    width: 150px;
    rotate: 45deg;
  }

  .D4 i{
    rotate: -45deg;
  }

  @media only screen and (max-width:800px) {
    .D4 i{
      font-size: 50px;
    }

    .D4 {
        position: absolute;
        margin-top: 400px;
        margin-left: 200px;
    }
  }


  .D4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #042940;
    height: 150px;
    width: 150px;
    rotate: 45deg;
    margin-right: 100px;
  }

  .D5 i{
    rotate: -45deg;
  }

  @media only screen and (max-width:800px) {
    .D5 i{
      font-size: 50px;
    }

    .D5 {
        position: absolute;
        margin-top: 500px;
        margin-left: -100px;
    }
  }

  .D5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #042940;
    height: 150px;
    width: 150px;
    rotate: 45deg;
  }

  .DiamondIcon1 {
    display: flex;
    justify-content: center;
    font-size: 70px;
    color: #9fc131;
  }

  .DiamondIcon1 i{
  margin: 10px 10px 10px 10px;
  }

  .DiamondIcon2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: #9fc131;
  }

  .DiamondIcon3 {
    display: flex;
    justify-content: center;
    font-size: 70px;
    color: #9fc131;
  }

  .DiamondIcon3 i{
    margin: 10px 10px 10px 10px;
  }

  .Header3 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    color:#042940;
    
  }

  @media only screen and (max-width:800px) {
    .Header3 {
      margin-top: 800px;
    }
  }

  .Line1 {
    height: 3px;
    width: 180px;
    background-color: #042940;
  }

  .ServicesInfo p {
    width: 300px;
    font-weight: bold;
    color: #042940;
  }


/* content */


/* content */

  .ServiceProviders {
    display: flex;
    height: 550px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  @media (max-width:800px) {
    .ServiceProviders {
      flex-direction: column;
    }
  }

  .HeaderSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ServicesInfoText {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Header4 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #042940;
  }

  .Line2 {
    height: 5px;
    margin: 20px 20px;
    background-color:#042940;
  }

  @media only screen and (max-width:800px) {
    .Line2 {
        width: 350px;
    }
  }

  .ServiceProvidersText {
    font-weight: bold;
    color: #042940;
  }

  .ContentBoxs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 300px;
    width: 100%;
  }

  @media (max-width: 800px) {
    .ContentBoxs {
      flex-direction: column;
    }
  }

  @media only screen and (max-width:800px) {
    .ContentBoxs {
      margin-top: 800px;
    }
  }

  .ContentBox1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 300px;
    margin: 10px 100px 10px 10px;
    border-radius: 20px;
    background-color:#042940;
  }

  @media only screen and (max-width:800px) {
    .ContentBox1 {
      margin: 10px 10px 10px 10px;
    }
  }

  /* Box1 Content */
  .ContentBoxImage1 {
    height: 200px;
    width: 280px;
    margin: 10px 10px;
    border-radius: 15px;
    background-color: white;
  }

  

  .ContentHeader1{
    font-size: 30px;
    color: #9fc131;
    font-weight: bold;
  }

  .ContentBoxText1 {
    color: white;
    text-align: center;
  }

  .ContentBoxIcons {
    margin: 20px 20px;
  }

  .ContentBoxIcons i {
    font-size: 25px;
    margin: 0px 20px 0 20px;
    color: #9fc131;
  }
  /* Box1 Content */

  .ContentBox2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 300px;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    background-color:#042940;
  }

  /* Box2 Content */
  .ContentBoxImage2 {
    height: 200px;
    width: 280px;
    margin: 10px 10px;
    border-radius: 15px;
    background-color: white;
  }

  .ContentHeader2{
    font-size: 30px;
    color: #9fc131;
    font-weight: bold;
  }

  .ContentBoxText2 {
    color: white;
  }

  .ContentBoxIcons i {
    font-size: 25px;
    margin: 0px 20px 0 20px;
    color: #9fc131;
  }
  /* Box2 Content */

  .ContentBox3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 300px;
    margin: 10px 10px 10px 100px;
    border-radius: 20px;
    background-color:#042940;
  }

  @media only screen and (max-width:800px) {
    .ContentBox3 {
      margin: 10px 10px 10px 10px;
    }
  }

   /* Box3 Content */
   .ContentBoxImage3 {
    height: 200px;
    width: 280px;
    margin: 10px 10px;
    border-radius: 15px;
    background-color: white;
  }

  .ContentHeader3{
    font-size: 30px;
    color: #9fc131;
    font-weight: bold;
  }

  .ContentBoxText3 {
    color: white;
  }

  .ContentBoxIcons i {
    font-size: 25px;
    margin: 0px 20px 0 20px;
    color: #9fc131;
  }
  /* Box3 Content */

/* content */


/* content */
  .ExtraContent2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #042940;
    height: 500px;
    width: 100%;
  }

  @media only screen and (max-width:800px) {
    .ExtraContent2 {
      margin-top: 800px;
    }
  }

  .ExtraContentHeader {
    height: 300px;
  
  }

  .ExtraContentText1 {
    font-size: 30px;
    color: #9fc131;
    font-weight: bold;
    margin-bottom: 70px;
  }
  .Line3 {
    height: 2px;
    width: 700px;
    margin: 20px 20px;
    background-color: white;
  }

  @media only screen and (max-width:800px) {
    .Line3 {
      width: 350px;
    }
  }

  .ExtraContentText2 {
    font-size: 10px;
    color: white;
    font-weight: bold;
  }

  .SignUp {
    border-style: none;
    background-color: white;
    color: #042940;
    border-radius: 7px;
    height: 30px;
    width: 100px;
  }

  .LearnMoreButton {
    border-style: solid;
    border-color: #9fc131;
    background-color: transparent;
    color:#9fc131;
    border-radius: 7px;
    height: 30px;
    width: 130px;
  }

  .ExtraContentButtons {
    display: flex;
    justify-content: center;
  }

  @media only screen and (max-width:800px) {
    .ExtraContentButtons {
      display: list-item;
    }
  }
/* content */

/* content */
  .ContactUsContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 550px;
    width: 100%;
  }

  @media (max-width:800px) {
    .ContactUsContent {
      flex-direction: column;
    }
  }

  .ContactForm {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #042940;
    height: 500px;
    width: 500px;
    border-radius: 20px;
    border-style: solid;
    border-color: #9fc131;
  }

  @media only screen and (max-width:800px) {
    .ContactForm {
      margin-top: 10px;
      height: 400px;
      width: 300px;
    }
  }

  .Header5 {
    font-size: 30px;
    font-weight: bold;
    color: #9fc131;
  }

  .ContactForm p{
    color: white;
  }

  .ImageBox2 {
    height: 500px;
    width: 500px;
    margin-right: 300px;
  }

  @media only screen and (max-width:800px) {
    .ImageBox2 {
      height: 300px;
      width: 300px;
      margin-right: 0px;
      display: none;
    }
  }

  .ImageBox2 img{
    height: 500px;
    width: 500px;
  }

  @media only screen and (max-width:800px) {
    .ImageBox2 img {
      height: 300px;
      width: 300px;
    }
  }

  .Name {
    width: 400px;
    height: 30px;
    margin-bottom: 20px;
  }

  @media only screen and (max-width:800px) {
    .Name {
      width: 250px;
    }
  }

  .Email {
    width: 400px;
    height: 30px;
    margin-bottom: 20px;
  }

  @media only screen and (max-width:800px) {
    .Email {
      width: 250px;
    }
  }


  .Message {
    height: 70px;
    width: 400px;
  }

  @media only screen and (max-width:800px) {
    .Message {
      width: 250px;
    }
  }


  .Submit {
    background-color: #9fc131;
    margin-top: 30px;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border-style: none;
    color:#042940;
  }
/* content */

/* content */
.FooterContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 200px;
  width: 100%;
  background-color: #042940;

}

.FooterIcons i {
  font-size: 30px;
  margin: 10px 50px 10px 50px;
  color: #9fc131;
}

.FooterText {
  font-size: 20px;
  color: white;
}
/* content */